.person-card, .person-card-add {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-height: 600px;
  width: 300px;
  transition:all .3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -o-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -moz-transition:all .3s cubic-bezier(.25,.8,.25,1);
}

.person-card-content {
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .person-card {
    flex-grow: 1;
  }
}

.person-card:hover, .person-card-add:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.person-card-add:hover .person-card-add-content span,
.person-card-add:hover .person-card-add-content h2 {
  color: #2196f3;
}

.person-card-add .person-card-add-content span,
.person-card-add .person-card-add-content h2 {
  color: #aaaaaa;
  transition:all .3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -o-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -moz-transition:all .3s cubic-bezier(.25,.8,.25,1);
}

.person-card-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-card-add-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.person-card .person-card-image {
  height: 200px;
  background-size:100%;
}

.person-card:hover .person-card-image {
  background-size:110%;
  transition:all .3s cubic-bezier(.25,.8,.25,1);
  -webkit-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -o-transition:all .3s cubic-bezier(.25,.8,.25,1);
  -moz-transition:all .3s cubic-bezier(.25,.8,.25,1);
}

.person-card .person-card-title {
  margin-bottom: 1em;
}
